h1 {
    color:blueviolet;
    display: flex;
    justify-content: center;
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
    background-color: darkmagenta;
}