.card{
  border: solid 2mm;
  border-color: cornflowerblue;
  height: 50mm;
  width: 100mm;
  background-color: rgba(222, 184, 135, 0.548);
  color:rgb(117, 0, 23);
  margin: 5mm;
  text-align: center;
  border-radius: 20%;
}

.body{
  background-color: darkred;
}